[package]
name = "cli"
version = "0.1.0"
edition = "2021"
license = "GPL-2.0-or-later"

[dependencies]
anyhow.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
tokio.workspace = true
proto = { path = "../proto" }
core = { path = "../core" }
net = { path = "../net" }
